$gray: #6a6a6a;
$g2: #84878A;
$black: #050606;
$dark: #18191D;
$abbey: #47494B;
$brightRed: #D11302;
$dRed: #A30D02;
$RedOxide: #5D0F04;
$accent: #E8550C;
$RoseBud: #F5A691;
$white: #fff;
$lemon: #f9ca24;
